version: '3.8'

services:
  sugestao-compra-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=production
      - POSTGRES_URL=postgresql://intranet:Ac%402025acesso@panel-teste.acacessorios.local:5555/intranet
      # Configurações SQL Server
      - SQL_SERVER_HOST=192.168.1.146
      - SQL_SERVER_PORT=1433
      - SQL_SERVER_DATABASE=master
      - SQL_SERVER_USER=BI_AC
      - SQL_SERVER_PASSWORD=Ac@2025acesso
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
    networks:
      - api-network

networks:
  api-network:
    driver: bridge

volumes:
  logs: